# Firebase Configuration (Automatically managed by AI Studio)
# VITE_FIREBASE_CONFIG=

# Email Configuration (Gmail SMTP - Suas chaves atuais)
GMAIL_USER=gencdgen@gmail.com
GMAIL_APP_PASSWORD=njkx ikdp agid reig
GMAIL_FROM=gencdgen@gmail.com
GMAIL_FROM_NAME=CD Genomma

# App Configuration
VITE_APP_URL=https://ais-pre-2gfjzry7x7coyi5ajllvvx-150633624590.us-east5.run.app
